
            body{
              background-color: #FFFFFF;              
              color:#000000;
              
            }
            div, p, ul, form, input, h2, h3, h4, img{
              color:#000000;
            }
            a {
             color:#000000;
            }
            a:hover {
             color:#000000;
            }
            blockquote {
             color:#000000;
            }
            .titletxt{
             font-size:16pt;
            }
            .frame{
             background:#FFFFFF;
             border:#D4DAEC 2px solid;
             font-size: 11pt;
            }
            .frame div, .frame td, .frame p,.frame ul,.frame form,.frame input,.frame h2,.frame h3,.frame h4,.frame img{
              font-size:11pt;
            }
            .frameheader{
             background:#D4DAEC ;
            }
            .frametxt{
             font-size:11pt;
            }
            .outsideframetxt{
             font-size:8pt;
            }